body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

header {
  background: #2c3e50;
  color: white;
  padding: 1rem;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  background: #ddd;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

form button {
  width: 100%;
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background: #2980b9;
}
#taskList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  padding: 50px;
}

.task {
  background: white;
  padding: 12px 35px 30px 35px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task button {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task button:hover {
  opacity: 0.8;
}
.about-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}